* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.big_container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  padding: 1.2rem;
  background-color: darkslategrey;
  color: #fff;
  font-size: 30px;
  padding-left: 4rem;
}

.main {
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  gap: 2rem;
}

.book {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  gap: 5px;
  text-align: center;
}

.book h3 {
  padding-bottom: 5px;
  text-align: center;
  font-size: 25px;
  text-overflow: ellipsis;
}

.read {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.deleteBook {
  align-self: center;
  font-size: 15px;
  padding: 7px 45px;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: crimson;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.add {
  position: fixed;
  display: flex;
  bottom: 5%;
  right: 3rem;
  color: #fff;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  font-size: 4vw;
  background-color: darkslategrey;
  cursor: pointer;
}

.add:hover {
  background-color: rgb(66, 107, 107);
}

.add span {
  transition: transform ease-in-out 0.3s;
}

.add span:hover {
  transform: rotate(180deg);
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: rgb(71, 71, 71);
  font-size: 20px;
  padding-bottom: 15px;
}

.footer .fab {
  color: rgb(36, 41, 47);
  font-size: 30px;
}
.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.form {
  display: flex;
  flex-direction: column;

  background-color: cadetblue;
  font-size: 30px;
  border-radius: 25px;
  color: #fff;
}

.form .fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 5rem 7rem;
  padding-top: 3rem;
}

.form .button_div {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form .button_div button {
  margin-left: auto;
  width: 2vw;
  height: 2vw;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
}

.form .readinput {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.readinput label {
  width: 100%;
}

.form .fields .submit_Form {
  padding: 10px 70px;
  border: none;
  outline: none;
  border-radius: 25px;
  margin-top: 1rem;
  font-size: 30px;
  cursor: pointer;
}

.form input {
  width: 140%;
  height: 35px;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 20px;
}

.hidden {
  display: none;
}
